name: empty
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_svg: ^2.0.9

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

assets:
  - assets/dice_1.svg
  - assets/dice_2.svg
  - assets/dice_3.svg
  - assets/dice_4.svg
  - assets/dice_5.svg
  - assets/dice_6.svg
